.social-proof__rating-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 450px;
  width: 100%;
  padding: 20px 0;
  background-color: var(--clr-light-pink);
  border-radius: 8px;
}

.social-proof__rating-item:nth-of-type(2) {
  align-self: center;
}

.social-proof__rating-item:nth-of-type(3) {
  align-self: flex-end;
}

.social-proof__stars-container {
  margin: 0 32px;
}

.social-proof__stars {
  display: flex;
  gap: 8.45px;
}

.social-proof__rating-item_text {
  font-weight: 700;
  color: var(--clr-purple);
}

.social-proof__stars {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .social-proof__rating-item {
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
  }
  .social-proof__stars-container {
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 425px) {
  .social-proof__rating-item {
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
  }
  .social-proof__stars-container {
    margin: 0 0 16px 0;
  }
}
