.social-proof__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 72px;
  height: 100%;
}

.social-proof__cards li:first-of-type {
  align-self: baseline;
}
.social-proof__cards li:last-of-type {
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .social-proof__cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .social-proof__cards {
    margin-top: 49px;
    padding-bottom: 99px;
    row-gap: 16px;
  }
}
