.social-proof__card {
  background-color: var(--clr-purple);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
}

.social-proof__card_buyer-container {
  display: flex;
  align-items: center;
}

.social-proof__buyer-image {
  max-width: 40px;
  border-radius: 50%;
  margin-right: 23px;
}
.social-proof__buyer-name {
  font-weight: 700;
  color: #fff;
}

.social-proof__buyer-title {
  font-weight: 400;
  color: var(--clr-pink);
  margin-top: 5px;
}

.social-proof__card-text {
  color: #fff;
  max-width: 286px;
  letter-spacing: -0.23;
  line-height: 1.7;
  margin-top: 26px;
}

.social-proof__buyer-title {
  display: block;
}

@media screen and (max-width: 1024px) {
  .social-proof__card {
    padding: 20px 0 15px 15px;
    justify-content: center;
  }

  .social-proof__buyer-image {
    margin-right: 10px;
  }

  .social-proof__card_buyer-container {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .social-proof__card {
    padding: 20px 15px;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .social-proof__card {
    padding: 40px 30px;
    flex-direction: column;
  }

  .social-proof__card-text {
    margin-top: 26px;
  }

  .social-proof__buyer-image {
    margin-right: 23px;
  }

  .social-proof__card_buyer-container {
    margin-right: 0;
  }
}
